<tr id = 'update_type_<%= type.id%>'>
  <td><%= type.name %></td>
  <td>
    <%= link_to 'Edit',
                edit_admin_type_path(type),
                class: 'btn btn-primary',
                remote: true %>
    <%= link_to 'Delete', admin_type_path(type),
                method: :delete,
                data: { confirm: 'Are you sure?'},
                class: 'btn btn-danger',
                remote: true%>
  </td>
</tr>