<% provide(:title, "Edit type: #{@type.name}") %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit Type:  <%= @type.name %></h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back All Type', admin_types_path, class: 'btn btn-primary' %>
  </div>
</div>