<% provide(:title, "All type") %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>All Types</h4>
  </div>
  <div class="panel-body">
    <div class="text-center"><%= will_paginate %></div>
    <% if @types.count == 0 %>
      No types. <%= link_to 'Create now!', new_admin_type_path, class: 'btn btn-primary' %>
    <% else %>
        <table class="table table-bordered table-hover table-striped table-responsive">
          <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <%= render @types %>
          </tbody>
        </table>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to 'New Type', new_admin_type_path, class: 'btn btn-primary' %>
  </div>
</div>