<% provide(:title, "All types") %>
<div class="col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="purple">
      <h4 class="title">All Types</h4>
      <p class="category">Admin can create new career</p>
    </div>
    <% if @types.count == 0 %>
        <div class="alert alert-danger">
          No careers. <%= link_to 'Create now!', new_admin_career_path, class: 'btn btn-primary' %>
        </div>
    <% else %>
        <div class="card-content table-responsive table-hover table-striped table-bordered">
          <table class="table">
            <thead class="text-primary">
            <th>Name</th>
            <th>Actions</th>
            </thead>
            <tbody id="all_types">
            <%= render @types %>
            </tbody>
          </table>
          <div class="text-center"><%= will_paginate %></div>
        </div>
    <% end %>
    <div class="card-footer">
      <%= link_to 'New Type'.html_safe,
                  new_admin_type_path,
                  class: 'btn btn-primary',
                  remote: true,
                  id: 'new_type_link' %>
    </div>
  </div>
</div>