<% provide(:title, 'New Type Ads') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New Type Ads</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back All Type', admin_types_path, class: 'btn btn-primary' %>
  </div>
</div>