<% provide(:title, "Edit career: #{@career.name}") %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit career: <%= @career.name %></h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back all career', admin_careers_path, class: 'btn btn-primary' %>
  </div>
</div>